.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, transparent);
    background-color: transparent;
    transition: background-color 0.4s ease 0s;
    position: fixed;
    width: 100%;
    top: 0;
}

.header.sticky {
    background-color: rgb(20, 20, 20);
    @apply shadow-header
}