@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-1 {
	@apply text-2xl font-black leading-normal
	sm:text-3xl 
	lg:text-4xl 
	2xl:text-5xl;
}

.para-1 {
	@apply text-lg font-normal leading-normal
	sm:text-xl
	lg:text-2xl;
}

.heading-3 {
	@apply text-sm font-normal leading-normal
	sm:text-base
	lg:text-xl;
}

.ant-collapse-header {
	align-items: center !important;
}
/*! SCROLLBAR - start */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(100, 116, 139, 0.502) rgba(100, 116, 139, 0.161);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 0.375rem;
}
*::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: rgba(100, 116, 139, 0.161);
}
*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(100, 116, 139, 0.502);
}
/* SCROLLBAR - end */
