@tailwind base;
@tailwind components;
@tailwind utilities;

/*! SCROLLBAR - start */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(100, 116, 139, 0.502) rgba(100, 116, 139, 0.161);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 0.375rem;
}
*::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: rgba(100, 116, 139, 0.161);
}
*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(100, 116, 139, 0.502);
}
/* SCROLLBAR - end */
